*{
    padding: 0%;
    margin: 0%;
}
/* ----------
    Header start
--------------*/

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.stylish{
    background-image:url(https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg);
    text-align: center;
    padding: 185px 0;
}

.stylish h1{
    font-size: 90px;
    color: #212529;
}

.stylish p {
font-style: italic;
font-weight: 900;
font-size: 25px;
color: #212529;
padding: 20px 0 50px 0;

}

.stylish button , .features button{                      /*      butttona elave reng vermek ucun istif etdik                                   */
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    background-color: #1d809f;
    color: white;
    font-weight: 800;
    transition: background .3s;          /*        transition --    yazi clicinde renglenir hover ucun tesir edir            */
    }

    .stylish button:hover{
        background-color:#226ea0;
    }

/* ----------
    Header end
--------------*/

/* ----------
    Features start
--------------*/
.features{
    text-align: center;
    padding: 80px 0;
    color: #212529;
    }

.features h2{
    font-size: 30px;
}

.features p{
    font-size: 19px;
    padding: 20px 0 50px 0;                                 /*      p-nin etrafina mesafe vermek ucun istifade olundu                                */ 
}

.features button{
    background-color: #25282b;
}
/* ----------
    Features end
--------------*/

/* ----------
    Services start
--------------*/
.services{
    padding: 50px 0;
    background-color: #1d809f;
}

.services .text-holder{
    text-align: center;
    padding: 30px;
}

.services .text-holder h3{
    color: #ecb807;
    font-weight: 700;
}

.services .text-holder h2{
    font-size: 50px;
    color: white;
}

/* -- --------------------------------------------------------------------------------- Services icon hisse ------------------------------------------------------------------------------  */

.conteyner {
    width: 100%;
    height: 200px;
        }

    .icon-holder {
        width: 80%;
        height: 200px;
        margin: auto;
        text-align: center;
   
    }
    
    .responsive-icon {
     
        font-size:30px;
        color: #1d809f;
    }

    .responsive-icon{
    background: white;
    width: max-content;
    padding: 20px 25px;
    border-radius: 50%;
    margin: auto;
    
}
.icon-holder h3 {
    padding: 15px 0;

}
.responsive{
    width: 25%;
    text-align: center;
    float: left;
}
